*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
/* regola di reset */

body{
    font-family: 'PT Sans', sans-serif;
}
/* classi generali */
.row-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* inizio NavBar */

nav{
    background-color: #3982F5;
}

.container{
    width: 100%;

    padding: 30px;

    margin-left: auto;
    margin-right: auto;


}

.fa-bars{
    color: white;

    font-size: 20px;
}
