* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

/* regola di reset */

body {
    font-family: 'PT Sans', sans-serif;
}

/* classi generali */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.container {
    width: 100%;

    padding: 20px;

    margin-left: auto;
    margin-right: auto;


}


.blue {
    background-color: #BDDCFC;
}

/* Inizio NavBar */

nav {
    background-color: #3982F5;
}
.nav-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.nav-link ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.nav-link ul li {
    list-style-type: none;
    color: white;
}
.nav-link .button{
    background-color: white;
    padding: 5px;
    border-radius: 15px;

}

.fa-bars {
    color: white;

    font-size: 20px;
}

/* fine parte Navbar */

/* Inizio parte MAIN */

/* inizio Square */

.Demo {
    margin-bottom: 75px;
}

.rectagle {
    margin-bottom: 20px;
}

.rectagle-2 {
    height: 400px;
    border: solid red 2px;
    /* regole prova */


    width: 100%;
    /* riportare la grandetta di questi due elementi ora che si passa a tablet a 60% */
    display: flex;
   
    flex-direction: column;
   
    padding: 35px;
    gap: 40px;
}


.square-2 {
   

    width: 100%;
    /* riportare la grandetta di questi due elementi ora che si passa a tablet a 40% */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 28px;
}


.sizing-icon{
    font-size: 80px;
    color: #3982F5;
}

h3{
    font-size: 30px;
    color: #3982F5;
}




.Square {

    border: solid red 2px;
    /* regole prova */

    width: 100%;
}

.square-3 {
    
    width: 100%;


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 28px;

}

/* fine Square */

/* inizio Planning */

.Planning {
    background-color: #9692DE;

    padding-bottom: 28px;

    

}

h4{
    
}

.Strategic {
   
    /* regola di prova */
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 65px;
}

.Strategic  img{
    width: 100%;
}
.Strategic .strate-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}



    

.Development {
    /* height: 300px;
    border: 2px solid red; */
    /* regola di prova */

    margin-bottom: 60px;
    width: 100%;
    border-radius: 30px;
    padding-bottom: 40px;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 65px;
}

.Development .develo-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}
.Development .develo-text p{
    text-align: center;
}

.Development img{
    width: 100%;
}

.Arrow{
    background-color: #9692DF;
    padding: 8px;
    border-radius: 50%;
    font-size: 20px;
}

/* fine Planning */

/* inizio parte Testimonial */

.Committed {
    height: 300px;
    border: 2px solid red;
    /* regola di prova */


    width: 100%;
}


.card-1,
.card-2,
.card-3 {
    height: 300px;
    border: 2px solid red;
    /* regola di prova */

    width: 100%;

    background-color: #9692DE;
    border-radius: 30px;
}


/* fine parte Testimonial */

/* inizio parte Benefits */

.Benefits {
    background-color: #9692DE;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

.benefits-card {
    /* height: 300px; */
    border: 2px solid red;
    /* regola di prova */



    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;


}

.number-benefits {
    height: 200px;
    border: 1px solid red;

    background-color: white;
    border-radius: 30px;
}



/* fine parte Benefits */

/* inzio About us */

.About {
    display: flex;
    flex-direction: column;

    gap: 60px;

}

.about-text {
    height: 400px;
    width: 100%;

    border: 1px solid red;
    /* test */
}

.about-description {
    height: 300px;
    width: 100%;

    border: 1px solid red;
    /* test */
}

/* fine parte About us */

/* inizio parte Pricing */

.Pricing {
    width: 100%;
    padding-top: 65px;
    padding-bottom: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #9692DE;


}

.pricing-content {
    height: 400px;
    border: 1px solid red;
    width: 30px;
    /* regola di reset */

}


/* fine parte Pricing */

/* inizio footer */

.contacts {
    width: 100%;
    padding-top: 65px;
    padding-bottom: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #333333;
}

.contact {
    height: 400px;
    border: 1px solid red;
    width: 30px;
    /* regola di reset */
}


/* fine footer */


@media screen and (min-width:768px) {
    .row-1 {
        flex-direction: row;
    }

    .rectagle-2 {
        /* width: 60%; */
    }

    .square-2 {
        width: 20em;
    }

    /* sezione Planning */
    .Planning {
        flex-direction: column;
    }

    /* sezione Testimonial */
    .Testimonial {
        flex-direction: column;
    }

    /* sezione benefits */

    .benefits-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .number-benefits {
        width: calc(100% / 2 - 20px);
    }



    /* sezione About us */
    .About {
        flex-direction: row;
    }
}

@media screen and (min-width:1200px) {
    .container {
        padding-left: 175px;
        padding-right: 175px;
    }

    /* Parte Nav-bar */
    .fa-bars {
        display: none;
    }

    /* Parte del Planning */
    .Planning {
        flex-direction: row;
    }
    .Development{
        width: 60%;
    }

    .Development img {
        width: 50%;
    }


    /* parte Benefits */
    .number-benefits {
        width: calc(100% / 3 - 20px);
    }

}