*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
/* regola di reset */

body{
    font-family: 'PT Sans', sans-serif;
}
/* classi generali */
.row-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}




/* Inizio NavBar */

nav{
    background-color: #3982F5;
}

.container{
    width: 100%;

    padding: 20px;

    margin-left: auto;
    margin-right: auto;


}

.fa-bars{
    color: white;

    font-size: 20px;
}

/* fine parte Navbar */

/* Inizio parte MAIN */

/* inizio Square */

.Demo{
    margin-bottom: 75px;
}

.rectagle{
   margin-bottom: 20px;
}

.rectagle-2{
    height: 400px;
    border: solid red 2px;
    /* regole prova */


    width: 100%;
    /* riportare la grandetta di questi due elementi ora che si passa a tablet a 60% */
}

.square-2{
    height: 200px;
    border: solid red 2px;
    /* regole prova */

    width: 100%;
    /* riportare la grandetta di questi due elementi ora che si passa a tablet a 40% */

}

.Square{
    
    border: solid red 2px;
    /* regole prova */

    width: 100%;
}
.square-3{
    height: 200px;
    border: 2px solid black;
    /* regole di prova */
    width: 100%;

}

/* fine Square */

/* inizio Planning */

/* fine Planning */